html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container-l {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-s {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}