@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 44px;
  @extend %rubik;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    &__list {
      display: flex
    }

    &__list-item+.menu__list-item {
      padding-left: 35px;
    }

    &__list-link {
      color: #436372;
      transition: all .3s;
      @extend %rubik;
      font-weight: 500;

      &:hover {
        color: #9bbccb;
      }
    }

    &__list-link--active {
      color: #9bbccb;
    }
  }

  .user-nav {
    display: flex;
    min-width: 318px;

    &__item--search {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      background-color: #edf1f4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 21px;
    }

    &__item--group {

      max-width: 178px;
      width: 100%;
      background-color: #fcd7b6;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      margin-right: 18px;
    }

    &__item--dots {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a3bbc8;
    }

    &__link {
      position: relative;
    }

    &__num {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      top: -8px;
      right: -10px;
      font-size: 10px;
      color: #243f4d;
      text-align: center;
      line-height: 16px;
      @extend %dm-sans;
      font-weight: 700;
    }

    &__vertical-line {
      display: block;
      width: 1px;
      height: 32px;
      margin: 0 27px;
      background-color: #fde7d3;
    }
  }
}

.footer {
  background-color: #fff;
}

.footer-top {
  padding: 76px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 32px;

  &__contact {
    width: 210px;
    margin-right: 100px;
    font-size: 14px;
    line-height: 32px;

    a {
      display: block;
    }
  }

  &__services {
    width: 125px;
    margin-right: 182px;
  }

  &__account {
    width: 100px;
    margin-right: auto;
  }

  &__item-form {
    width: 270px;
  }

  &__logo {
    margin-bottom: 25px;
    display: block;
  }

  &__adress {
    margin-bottom: 22px;
    line-height: 24px;
  }

  &__phone {
    margin-bottom: 19px;
  }

  &__title {
    @extend %dm-sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
    color: #1f2044;
    padding-top: 12px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 3px 10px 3px 16px;
    border: none;
    display: block;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }


  &__form-btn {
    max-width: 100px;
    width: 100%;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    margin: 0;
    display: block;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    font-size: 14px;
  }

  &__item:not(:last-child) {
    margin-right: 14px;
  }

  &__item+.footer-bottom__item {
    padding-left: 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 17px;
      background-color: black;
      top: 8px;
      left: 0px;
    }
  }
}

.top-slider {
  &__inner {
    background-color: #fcd7b6;
  }

  &__item {
    max-width: 1300px;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 220px;
  }

  &__title {
    max-width: 470px;
    @extend %rubik;
    font-weight: 500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 370px;
    @extend %rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 42px;
  }

  &__link {
    display: block;
    position: relative;
    max-width: 200px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 19px 13px 26px;

    &::after {
      content: '';
      position: absolute;
      height: 9px;
      width: 22px;
      top: 28px;
      right: 19px;
      background-image: url('../images/slider/arrow.png')
    }
  }

  &__img {
    padding-top: 100px
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    li+li {
      margin-left: 11px;
    }

    li {
      button {
        border: none;
        padding: 0;
        font-size: 0;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.benefits {

  &__wrapper {
    background-color: #fef7f0;
    padding: 40px 0;
  }

  &__info {
    max-width: 1470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-item {
    position: relative;
    padding-left: 76px;

    &:nth-child(2) {
      padding-left: 80px;

      .benefits__img {
        top: 4px;
      }

      .benefits__info-text {
        max-width: 218px;
      }
    }

    &:nth-child(3) {
      padding-left: 90px;
    }
  }

  &__info-item+.benefits__info-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 170px;
    background-color: #e8e4df;
    top: -55px;
    left: -160px;
  }

  &__info-item:nth-child(3)::before {
    left: -150px;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 5px;
  }

  &__info-title {
    max-width: 210px;
  }

  &__info-text {
    max-width: 210px;
  }
}

.categories {
  padding: 75px 0 85px;
  margin-bottom: 100px;

  &__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__menu-item+.categories__menu-item {
    margin-left: 30px;
  }

  &__menu-item--active a {
    color: $title;
  }

  &__menu-link {
    @extend %dm-sans;
    color: #8b8b8b;
  }

  &__menu-link:hover {
    color: $title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.categories-item {
  max-width: 270px;
  height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  padding: 28px 42px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  line-height: 40px;
  font-weight: 700;

  &__img-box {
    max-width: 170px;
    width: 100%;
    position: relative;
    margin: auto 0;
    overflow: hidden;
  }

  &__link-box {
    position: absolute;
    bottom: 13px;
    max-width: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(300%);
    transition: all 0.3s;
  }

  &__link {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s;

    path {
      transition: all 0.5s;
    }
  }

  &__link:hover {
    background-color: #a3bbc8;

    path {
      fill: #fff;
    }
  }

  &__link--active {
    background-color: #a3bbc8;
  }

  &__title {
    color: #243f4d;
  }

  &__price {
    color: #a3bbc8;

  }

  &:hover {
    .categories-item__link-box {
      transform: translateY(0)
    }
  }
}

.promo {
  margin-bottom: 104px;


  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    position: relative;
    max-width: 870px;
    padding: 102px 168px 100px 386px;
    width: 100%;
    background-color: #feefe2;
  }

  &__item:nth-child(2) {
    .promo__img {
      top: -95px;
      left: 147px;
    }
  }

  &__img {
    position: absolute;
    top: -100px;
    left: 143px;
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 21px;
  }

  &__text {
    @extend %rubik;
    margin-bottom: 33px;
  }

  &__link {
    display: block;
    max-width: 180px;
    width: 100%;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 22px 20px 22px 19px;
    @extend %rubik;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 9px;
    top: 24px;
    right: 19px;
    background-image: url('../images/icons/link-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.design-catalog {
  margin-bottom: 120px;

  &__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__menu-item+.design-catalog__menu-item {
    margin-left: 30px;
  }

  &__menu-item--active a {
    color: $title;
  }

  &__menu-link {
    @extend %dm-sans;
    color: #8b8b8b;
  }

  &__menu-link:hover {
    color: $title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 30px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    height: 246px;
    border-radius: 3px;
    padding: 42px 158px 133px 38px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-title {
    font-size: 20px;
    margin-bottom: 18px;
  }

  &__item-text {
    font-weight: 700;
    color: #a3bbc8;
  }
}

.video-popup {
  margin-bottom: 120px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import 'media';