@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 50px 0 44px;
  @extend %rubik;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    &__list {
      display: flex
    }

    &__list-item+.menu__list-item {
      padding-left: 35px;
    }

    &__list-link {
      color: #436372;
      transition: all .3s;
      @extend %rubik;
      font-weight: 500;

      &:hover {
        color: #9bbccb;
      }
    }

    &__list-link--active {
      color: #9bbccb;
    }
  }

  .user-nav {
    display: flex;
    min-width: 318px;

    &__item {
      // width: 100%;
    }

    // &__item+.user-nav__item {
    //   padding-left: 20px;
    // }


    &__item--search {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      background-color: #edf1f4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 21px;
    }

    &__item--group {

      max-width: 178px;
      width: 100%;
      background-color: #fcd7b6;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
    }

    &__item--group a {}

    &__link {
      position: relative;
    }

    &__num {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      top: -8px;
      right: -10px;
      font-size: 10px;
      color: #243f4d;
      text-align: center;
      line-height: 16px;
      @extend %dm-sans;
      font-weight: 700;
    }

    &__vertical-line {
      display: block;
      width: 1px;
      height: 32px;
      margin: 0 27px;
      background-color: #fde7d3;
    }
  }

}

@import 'media';